// Colours
$white: #fff;
$black: #333132;
$dark-grey: #6e6e6e;
$light-grey: #e5e5e5;
$grey: #a9a9a9;
$dark-blue: #305e8f;
$blue: #0373b3;
$dark-red: #b51d21;
$dark-green: #249a31;
$background-colour: $white;

// Functional Colours
$news-ranking-colour: #a1a1a1;

// Fonts
$base-font-family: Arial, Sans-Serif;
$base-font-size: rem(14);
$base-line-height: 1;
$heading-font-family: 'Open Sans', Arial, Sans-Serif;
$heading-font-weight: bold;
$serif-font-family: 'Georgia', serif;

// Breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
